/* html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #070d13 0%, #090a0f 100%);
  overflow: hidden;
} */

.TwinkleStarBG {
  position: absolute;
  inset: 0px;
  z-index: -1;
  height: 100%;
  width: 100%;

  background-size: 25%;
  /* background-size: 85%; */
  /* opacity: 0.4; */
  opacity: 0.65;
  background-position: center center;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}

.stars,
.twinkling,
.clouds {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.stars {
  background: #000 url('/TwinkleStarsBG/stars.png') repeat top center;
  z-index: 0;
}

.twinkling {
  background: transparent url('/TwinkleStarsBG/twinkling.png') repeat top center;
  z-index: 1;
  animation: move-twink-back 200s linear infinite;
}

.clouds {
  background: transparent url('/TwinkleStarsBG/clouds.png') repeat top center;
  z-index: 2;
  opacity: 0.4;
  animation: move-clouds-back 700s linear infinite;
}
