@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* transition:
      all 0.2s ease fade-,
      color 0.2s ease;
  } */
    /* transition: color 0.5s; */
    background-color: var(--background);
    /* color: var(--textColor); */
    color: #c0c5ce;
    opacity: 0;
    animation: fadeIn 2s forwards;
    /* transition: 0.3s; */
  }

  :root {
    /* box-sizing: border-box; */

    /* BLACK & WHITE */

    --background-opposite: hsl(0, 0%, 15%);
    --background: hsl(0 0% 90%);
    /* --background-darker: hsl(30, 2%, 54%); */
    /* --background-darker: hsl(36, 4%, 74%); */
    --background-darker: hsl(0, 0%, 80%);
    --primary: hsl(0, 0%, 5%);
    --accentOne: hsl(60, 1%, 35%);
    --accentTwo: hsl(0, 0%, 15%);
    --border-focus: hsl(216, 100%, 51%);

    /* --background: hsl(50 0% 95%);
    --background-darker: hsl(50, 0%, 85%);
    --primary:   #6a99f1; 
    --secondary:   #465c84; 
    --accentOne:  #2b68d9; 
    --accentTwo:   #272b33; 
   */

    /* Text Color */
    --textColor: hsl(0, 0%, 21%);
    --textHover: hsl(0, 0%, 0%);
    /* BG Color */

    /* Border Colors */
    /* --buttonBorder: hsl(50 0% 20%); */
    /* --border: hsl(48, 25%, 12%); */
    /* Input is togglemode border color */
    /* --input: hsl(214.3 31.8% 91.4%); */

    /* ArrowButton Border */
    --ArrowButtonBorder: hsl(0, 0%, 7%);
    /* Gradient Colors */
    --ArrowGradientColorEnd: hsl(0, 0%, 75%);
    --containerGradientColorEnd: hsl(0, 2%, 90%);

    /* Shadcn Component Colors */
    --warning: hsl(38 92% 50%);
    --warning-foreground: hsl(48 96% 89%);

    --card: hsl(0 0% 100%);
    --card-foreground: hsl(222.2 84% 4.9%);
    --neutral: hsl(0, 0%, 95%);

    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(222.2 84% 4.9%);

    --primary: hsl(222.2 47.4% 11.2%);
    --primary-foreground: hsl(210 40% 98%);

    --secondary: hsl(210 40% 96.1%);
    --secondary-foreground: hsl(222.2 47.4% 11.2%);

    --muted: hsl(210 40% 96.1%);
    --muted-foreground: hsl(215.4 16.3% 46.9%);

    --accent: hsl(50 0% 88%);
    --accent-foreground: hsl(62, 47%, 11%);

    --destructive: hsl(0 84.2% 60.2%);
    --destructive-foreground: hsl(210 40% 98%);

    /* Ring er til noe spesielt i et component tror jeg */
    /* --ring: hsl(222.2 84% 4.9%); */
  }
  /* -------------------------  END OF LIGHT MODE CLASS ------------------------- */

  /* -------------------------------- START OF DARK MODE ---------------------------------- */

  .dark {
    /* box-sizing: border-box; */
    --background: #1a1b26;
    /* --background-darker: #414361; */
    --background-darker: #2d2f44;

    /* --primary: rgb(90, 90, 88); */
    /* --accentOne: rgb(51, 51, 51); */
    /* --accentOne: hsl(30, 2%, 54%); */
    /* --accentTwo: rgb(191, 189, 186); */

    /* text color */
    --textColor: rgb(157, 164, 199);
    --titleColor: rgb(193, 202, 244);
    /* --textHover: rgb(255, 255, 255); */
    --bannerName: #666698;

    /* Original Astro */
    /* --hover: #bb9af7; */
    /* Original Darker */
    /* --hover: #7963a0; */
    /* Original Ligher */
    --hover: #8973b9;
    --buttonHover: hsl(217, 49%, 18%);
    /* --border-focus: rgb(196, 163, 18); */
    --adobeDefault1: #606482;
    --adobeDefault2: #4c59b9;
    --adobeDefault3: #676799;

    /* Project Color themes */
    /* Project Color themes */ /* --------------------------- */ /* Border colors */ /* --buttonBorder: #2b68d9; */ /* --buttonBorder: #272b33; */ /* --border: hsl(180 35% 15%); */ /* input is togglemode border color */
    --input: hsl(80 20% 15%);

    /* ArrowButton border */
    --ArrowButtonBorder: hsl(140 25% 20%);
    /* Gradient Colors */
    --ArrowGradientColorEnd: hsl(140 25% 25%);
    --containerGradientColorEnd: hsl(140 25% 20%);

    /* Shadcn Component Colors */
    --warning: hsl(48 96% 89%);
    --warning-foreground: hsl(38 92% 50%);

    --card: hsl(180 15% 5%);
    --card-foreground: hsl(210 40% 98%);
    --neutral: hsl(180 15% 8%);

    --popover: hsl(222.2 84% 4.9%);
    --popover-foreground: hsl(210 40% 98%);

    --primary: hsl(210 40% 98%);
    --primary-foreground: hsl(222.2 47.4% 11.2%);

    --secondary: hsl(217.2 32.6% 17.5%);
    --secondary-foreground: hsl(210 40% 98%);

    --muted: hsl(217.2 32.6% 17.5%);
    --muted-foreground: hsl(215 20.2% 65.1%);

    --accent: hsla(145, 69%, 15%, 0.2);
    --accent-foreground: hsl(210 40% 98%);

    --destructive: hsl(0 62.8% 30.6%);
    --destructive-foreground: hsl(210 40% 98%);
  }

  input,
  button {
    line-height: none;
    padding: 0;
    margin: 0;
  }

  input:focus {
    outline: 0;
  }
  input {
    background: unset;
    border: 1px solid black;
    border-radius: 8px;
    background-color: white;
    color: black;
    padding: 3px;
  }

  color {
    transition: color 0.4s ease-in-out;
  }

  button {
    display: flex;
    /* justify-content: center; */
    /* justify-items: center; */
    /* align-items: center; */
    border: 1px solid white;
    border-radius: 8px;
    width: fit-content;
    padding: 5px;
    background-color: var(--background-darker);
  }

  button:hover {
    transition: color 0.4s ease-in-out;
    /* background-color: gray; */
  }

  /* Newtons Craddle - Loading Screen */
  .newtons-cradle {
    --uib-size: 50px;
    --uib-speed: 1.2s;
    --uib-color: #474554;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: var(--uib-size); */
    /* height: var(--uib-size); */
  }
}
